* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-ubuntu {
    font-family: "Ubuntu";
}

.font-overpass {
    font-family: 'Overpass';
}

.bg-no-repeat {
    background-repeat: no-repeat !important;
}
.bg-position{
    background-position: center !important;
}


.flex {
    display: flex;
}

.center {
    text-align: center;
}

.container-introduction {
    background-color: hsl(355, 100%, 74%);
    background: linear-gradient(hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    text-align: center;
    height: 85vh;
    border-bottom-left-radius: 25%;
    position: relative;
    overflow: hidden;
}

.introduction {
    background-image: url("../assets/images/bg-pattern-intro-mobile.svg");
    height: 100%;
    position: absolute;
    background-position: center !important;
}

.nav-mobile {
    justify-content: space-between;
    padding: 20px;
}

.nav-desktop {
    display: none;
}

.section-blogr {
    margin-top: 35px;
    padding: 10px;
}

.title {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
    margin-top: 25px;
}

.subtitle {
    font-size: 15px;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
    padding: 5px;
    margin-top: 25px;
}

.botones {
    padding: 10px;
    width: 50vh;
    gap: 8px;
    font-size: 6px;
    margin-inline: auto;
    margin-top: 45px;
}

.boton-bg-white {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
    color: hsl(355, 100%, 74%);
    font-weight: bold;
    font-size: 16px;
}

.boton-learn {
    border-radius: 20px;
    border: solid white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background: transparent;
}

.section-designed {
    margin-top: 45px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    overflow: hidden;
}

.bg-img-editor-mobile {
    background: url("../assets/images/illustration-editor-mobile.svg");
    height: 50vh;
    width: 100vw;
    margin-top: 45px;
    background-size: contain;
}

.title-h2 {
    font-family: "Overpass";
    font-size: 28px;
    text-align: center;
    color: hsl(208, 49%, 24%);

}

.text-description {
    font-size: 16px;
    text-align: center;
    font-family: "ubuntu";
    letter-spacing: 2px;
    line-height: 25px;
    color: hsl(207, 13%, 34%);
}

.margin-h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}
.section-celulares{
    position: relative;
    margin-top: 30vh;
}
.bg-celulares {
    background: url("../assets/images/illustration-phones.svg");
    height: 80vh;
    background-size: contain;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: -180px;
    
}

.container-bg-redondo {
    height: 80vh;
    position: relative;  
    background-color: hsl(230, 22%, 39%);
    border-top-right-radius: 95px;
    border-bottom-left-radius: 95px;
    overflow: hidden;
    
}

.img-bg-redondo {
    background: url("../assets/images/bg-pattern-circles.svg");
    background-size: cover;
    height: 90vh;
    top: -60%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-position: center;
}

.description-state {
    position: absolute;
    top: 40%;
    text-align: center;
}

.state-format {
    color: hsl(0, 0%, 100%);
    font-family: "Ubuntu";
    line-height: 25px;
    text-align: center;
    font-family: "ubuntu";
}

.h2-state {
    font-size: 35px;
}

.p-state {
    font-size: 16px;
    margin-top: 25px;
}

.computer {
    margin-top: 15vh;
   
   
}

.bg-computer {
    background: url("../assets/images/illustration-laptop-mobile.svg");
    height: 50vh;
    background-size: cover;
    width: 100%;
}

.description {
    padding: 15px;
    color: hsl(0, 0%, 100%);
}

.footer {
    margin-top: 45px;
    text-align: center;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 45px;
    padding: 35px;
}

.title-footer {
    color: hsl(0, 0%, 100%)
}

div h4 {
    margin-top: 25px;
    color: hsl(0, 0%, 100%);
    font-family: "Ubuntu";
}

div h4~p {
    margin-top: 10px;
    color: hsl(240, 2%, 79%);
}